@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("home.jepg.jpeg"), #000;
  background-position: center;
  background-size: cover;
}

.logoo{
  
    width: 60%;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    
    
    
}
.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 4px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
}
form {
  display: flex;
  flex-direction: column;
  height: 510px;
  
}
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}
.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}
.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}
.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}
.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}
#remember {
  accent-color: #fff;
}
.forget label {
  display: flex;
  align-items: center;
}
.forget label p {
  margin-left: 8px;
}
.wrapper a {
  color: #efefef;
  text-decoration: none;
}
.wrapper a:hover {
  text-decoration: underline;
}
button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}
.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

.container{
    width: 90%;
 margin:  auto;
 padding: 0 20px;
     
}

.header{
    position: fixed;
    width: 100%; 
    z-index: 10;
   background-color: #1d1010;
    display: flex;
    align-items: center;
    border-radius: 2px;
    
}

.logor{
    
    width: 40%;
    display: inline;
    float: left;
    padding: 3px;
    
}

.logoor{
  
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    
    
    
}
.imgg{
    width: 20%;
    display: inline; 
    position:relative;
    margin-left: 80%;
    bottom: 170px;
    position: absolute;
    

}
.log{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    background-size: cover;
    border-top: 2px solid red;
    border-left: 2px solid red;

}



.navr{
    
    width: 55%;
    margin-top: 17px;
    float: left;
    list-style: none;
    display: flex;
    margin-left: 40px;
   
   
    
   
}

.navr> li{
    display:inline-block;
    padding-left: 15px;
    padding-right: 20px;
    
    font-size: large;
   
    

}

.navr> li > a {
    display: block;
    text-decoration: none;
    color: white;
   

    
}
